body {
    background-image: url("../img/radiotower.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

h1 {
    color: white;
    text-align: center;
    font-family: "Orbitron";
}

h2 {
    color: white;
    text-align: center;
    font-family: "Orbitron";
}

header {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px green solid;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

p {
    color: yellow;
    font-family: sans-serif;
    text-align: center;
}

#main {
    color: yellow;
    font-family: sans-serif;
    text-align: center;
    border: 2px green solid;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    
}

#totalWinCSS {
    color: rgb(0, 255, 0);
    font-family: "Orbitron";
    font-size: 20px;
}

#totalLossCSS {
    color: red;
    font-family:"Orbitron";
    font-size: 20px;
}

#scoreCSS {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px green solid;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;    
}

#footer {
    color: white;
    text-align: center;
    font-family: sans-serif
}