body {
    background-image: url("../img/radiotower.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;

}

h1 {
    color: white;
    text-align: center;
    font-family: "Orbitron";
}

h2 {
    color: white;
    text-align: center;
    font-family: "Orbitron";
}

header {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px green solid;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

p {
    color: yellow;
    font-family: sans-serif;
    text-align: center;
}

#main {
    color: yellow;
    font-family: sans-serif;
    text-align: center;
    border: 2px green solid;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

#fbBox {
    border-style: outset;
    border-width: 5px;
    display: inline-block;
    background-color: black;
    border-color: goldenrod;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#feedback {
    display: block; /*this creates a clean block for inline elements*/
    white-space: pre-line; /*this line respects \n line breaks*/
    font-size: 12px;
    /* background-color: black;
    border-radius: 5px;
    padding: 5px;
    margin: 2px; */
}

#scoreCSS {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px green solid;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;    
}

#totalWinCSS {
    border-style: outset;
    border-width: 3px;
    border-color: rgb(0, 255, 0);
    border-radius: 10px;
    padding: 5px;
    color: rgb(0, 255, 0);
    font-family: "Orbitron";
    font-size: 20px;
    background-color: black;
    
    
}

#totalLossCSS {
    border-style: outset;
    border-width: 3px;
    border-color: red;
    border-radius: 10px;
    padding: 5px;
    color: red;
    font-family:"Orbitron";
    font-size: 20px;
    background-color: black;
}



#footer {
    color: white;
    text-align: center;
    font-family: sans-serif
    
}